*{
    font-family: 'tahoma';
    letter-spacing: 0.3px;
}

h1{

    margin: 0 auto ;
    width: 500px;
    height: 48px;
    text-align: center;
   border-bottom: 5px solid rgb(30, 255, 0);
   border-top: 5px solid rgb(255, 0, 0);
   border-radius: 300px;
   color: blue;
}

form{text-align: center;}
input{padding: 5px 40px;}

#result{
    text-align: center; 
    font-size: 18px;
}